<div class="d-flex flex-column">
  <h4 class="flight-callsign align-self-center">
    {{ pilot?.callsign }}
  </h4>

  <div class="d-flex flex-row justify-content-center align-items-start">
    <div class="flight-details-airport">
      <span class="icao">{{ pilot?.from }}</span>
      <span *ngIf="departure | async as _departure" class="name">{{ _departure.name }}</span>
    </div>

    <span class="align-self-center"><i class="fa fa-chevron-right"></i></span>

    <div class="flight-details-airport">
      <span class="icao">{{ pilot?.to }}</span>
      <span *ngIf="destination | async as _destination" class="name">{{ _destination.name }}</span>
    </div>
  </div>

  <div class="mt-4"></div>

  <div class="row">
    <div class="col-4">Name</div>
    <div class="col-8 font-weight-bold">{{ pilot?.name }}</div>
  </div>

  <div class="row">
    <div class="col-4">CID</div>
    <div class="col-8 font-weight-bold">{{ pilot?.cid }}</div>
  </div>

  <div class="row">
    <div class="col-4">Aircraft</div>
    <div class="col-8 font-weight-bold">{{ pilot?.aircraft }}</div>
  </div>

  <div class="row">
    <div class="col-4">Transponder</div>
    <div class="col-8 font-weight-bold">{{ pilot?.transponder }}</div>
  </div>

  <div class="row">
    <div class="col-4">Ground speed</div>
    <div class="col-8 font-weight-bold">{{ pilot?.groundSpeed }} knots</div>
  </div>

  <div class="row">
    <div class="col-4">Altitude</div>
    <div class="col-8 font-weight-bold">{{ pilot?.altitude }} feet</div>
  </div>

  <div class="row">
    <div class="col-4">Heading</div>
    <div class="col-8 font-weight-bold">{{ pilot?.heading }}</div>
  </div>

  <div class="row">
    <div class="col-4">Flight phase</div>
    <div class="col-8 font-weight-bold">{{ pilot?.flightPhase }}</div>
  </div>

  <div class="row">
    <div class="col-4">Route</div>
    <div class="col-8 font-weight-bold">{{ pilot?.route }}</div>
  </div>

  <div class="row">
    <div class="col-4">Remarks</div>
    <div class="col-8 font-weight-bold">{{ pilot?.remarks }}</div>
  </div>

  <div class="row">
    <div class="col-4">Online from</div>
    <div class="col-8 font-weight-bold">{{ pilot?.onlineFrom | date:'medium' }}</div>
  </div>

</div>
